.navbar{
    display: flex;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    justify-content: space-between;
    margin-right: 400px;

}
body{
    font-family: 'Poppins', sans-serif;

}

.navbar ul li{
    margin: 15px;
    vertical-align: 15px;
    font-size: 12px;
    display: flex;
    display: inline-block;    
}
 
.point{
    
}
}
.content h2{
    font-size: 35px;
    margin-bottom: 15px;

}
.content p{
    font-size: 15px;
}
#tap1{
    border: none;
    background-color: #f04924;
    border-radius: 20px;
    padding: 15px;
    color: white;
    margin-left: 30px;
}
.point{
    margin-left: 88px;
    display: inline-block;
    margin-top: 60px;
    

}
.banner{
    display: inline-block;
    margin-left: 400px;
    margin-top: -30px;
}
.content{
    text-align: center;
}
.indexbox{
    text-align: center;
}
.index{
    display: inline-block;
    height: 280px;
    width: 200px;
    background-color: rgb(219, 215, 215);
    margin: 18px;
    font-size: 14px;
    border-radius: 15px;
    color: white;
}
#index1{
 background-color:#f0390f;
}
#index2{
background-color:  #3e0bce;
}
#index3{
background-color: #f0390f;
}
.span1{
 margin-top: 10px;
 margin-left: 320px;
 
}
.span2{
    margin-top: 10px;
    margin-left: 220px;
    
    }
    

.span3{
    margin-top: 10px;
 margin-left: 120px;
 }
.about{
    vertical-align: top;
    margin-left: 140px;
    display: inline-block;
    margin-top: 80px;
    font-size: 14px;
    color: white;
}





.finalbackground{
    background-image: url(about_bg.jpg);
    background-size: cover;
    background-position: center;
    margin-top: 12px;
    margin-bottom: 7px;
    font-size: 12px;
    background-position-x: center;

}

.finalbackground .insideimg{
    display: inline-block;
    margin-top: 45px;
    margin-left: 7px;
}